{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock meta %}

{% block content %}
    <div class="flex flex-col justify-center items-center gap-2 bg-dark-300">
        <h1 class="text-2xl font-bold p-1">{{ username }}'s playlist</h1>

        <div class="flex flex-col justify-center items-center gap-2 h-screen">
            {% comment %} {% if user.daftar_playlist %} {% endcomment %}
            <h2 class="p-2 text-center">Anda belum memiliki playlist apapun</h2>
            {% comment %} {% else %} {% endcomment %}
            <div class="flex flex-col gap-3">
                <div class="flex flex-row justify-between items-center p-4 border-b border-gray-200 bg-white rounded-lg">
                    <div class="flex flex-row flex-shrink-0 mr-4">
                        <button class="bg-green-500 hover:bg-green-600 text-black text-sm font-semibold px-4 py-2 rounded-full">
                            <img src={% static 'icon_play.png' %} alt="Play" class="w-6 h-6 rounded-full mx-3">
                        </button>
                        <img src={% static 'playlist_image.jpg' %} alt="Playlist Image" class="w-16 h-16 rounded-full">
                    </div>
                    <div class="flex flex-col flex-grow">
                        <h3 class="text-lg font-semibold text-black">Playlist Title</h3>
                        <p class="text-sm text-gray-500">Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <p class="text-gray-500 text-sm">45:32</p>
                        <button class="bg-green-500 hover:bg-green-600 text-black text-sm font-semibold px-4 py-2 rounded-full mt-2">Play</button>
                    </div>
                </div>
                
                <div class="flex flex-row justify-between items-center p-4 border-b border-gray-200 bg-white rounded-lg">
                    <div class="flex flex-row flex-shrink-0 mr-4">
                        <button class="bg-green-500 hover:bg-green-600 text-black text-sm font-semibold px-4 py-2 rounded-full">
                            <img src={% static 'icon_play.png' %} alt="Play" class="w-6 h-6 rounded-full mx-3">
                        </button>
                        <img src={% static 'playlist_image.jpg' %} alt="Playlist Image" class="w-16 h-16 rounded-full">
                    </div>
                    <div class="flex flex-col flex-grow">
                        <h3 class="text-lg font-semibold text-black">Playlist Title</h3>
                        <p class="text-sm text-gray-500">Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <p class="text-gray-500 text-sm">45:32</p>
                        <button class="bg-green-500 hover:bg-green-600 text-black text-sm font-semibold px-4 py-2 rounded-full mt-2">Play</button>
                    </div>
                </div>
                
                <div class="flex flex-row justify-between items-center p-4 border-b border-gray-200 bg-white rounded-lg">
                    <div class="flex flex-row flex-shrink-0 mr-4">
                        <button class="bg-green-500 hover:bg-green-600 text-black text-sm font-semibold px-4 py-2 rounded-full">
                            <img src={% static 'icon_play.png' %} alt="Play" class="w-6 h-6 rounded-full mx-3">
                        </button>
                        <img src={% static 'playlist_image.jpg' %} alt="Playlist Image" class="w-16 h-16 rounded-full">
                    </div>
                    <div class="flex flex-col flex-grow">
                        <h3 class="text-lg font-semibold text-black">Playlist Title</h3>
                        <p class="text-sm text-gray-500">Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <p class="text-gray-500 text-sm">45:32</p>
                        <button class="bg-green-500 hover:bg-green-600 text-black text-sm font-semibold px-4 py-2 rounded-full mt-2">Play</button>
                    </div>
                </div>
                
            </div>
            <a href={% url 'feat_1:add_playlist' %}>
                <button class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded">
                    Tambah playlist
                </button>
            </a>
            
        </div>
    </div>
{% endblock content %}
