{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock meta %}

{% block content %}

<div class="flex flex-col gap-2 h-screen mx-3 my-2">
    <h1 class="text-xl text-center font-bold">DAFTAR LAGU</h1> 
    <div class="flex flex-col gap-3 py-2">
        {% for song in song_list %}
        <div class="flex flex-row justify-between items-center px-6 py-3 border-b border-gray-200 bg-[#d1d9e0] rounded-lg">
            <div class="flex items-center gap-6 mr-6">
                <img src="{% static 'playlist_image.jpg' %}" alt="Playlist" class="w-10 h-10 rounded-full">
            </div>
            <div class="flex flex-col flex-grow">
                <h3 class="text-xl font-bold text-black">{{ song.song_title }}</h3>
                <p class="text-sm text-gray-400">Artis : {{ song.artist_name }}</p>
            </div>
            <div class="flex justify-center items-center gap-2">
                <p class="text-xl text-center bg-[#303030] font-bold border rounded-full w-8 aspect-square">i</p>
                <button onclick="confirmDelete('{{ song.id }}', '{{ song.song_title }}')" class="focus:outline-none">
                    <img src="{% static 'trash_icon.png' %}" alt="Trash Icon" class="w-8 h-8 rounded-full">
                </button>
            </div>
        </div>
        {% endfor %}

    </div>
    <a href={% url 'main:show_dashboard' %}><a href={% url 'main:show_dashboard' %}><button class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-4 rounded w-full">
        Kembali
    </button></a>
</div>

<script>
    function confirmDelete(songId, songTitle) {
        if (confirm("Berhasil menghapus lagu dengan judul " + songTitle)) {
            window.location.href = '/user/delete-song/' + songId + '/';
        } else {
            window.location.href = '/user/delete-song/' + songId + '/';
        }
    }
</script>

{% endblock content %}
