{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock meta %}

{% block content %}

<div class="flex flex-col justify-center items-center h-screen">
    <div class="flex justify-evenly w-full p-4">
        <h1 class="font-bold text-3xl mr-10">LANGGANAN PAKET</h1>
        <a class="hover:text-blue-700 ml-10" href={% url 'feat_1:add_playlist' %}><button class="bg-red-500 hover:bg-green-600 hover:text-white text-black text-sm font-semibold px-4 py-2 rounded-full">Riwayat transaksi</button></a>
    </div>
    <div class="container rounded-lg p-4 bg-[#202020]">
        <div class="flex flex-col justify-center items-center rounded-lg p-4">
            <table class="w-full gap-4 mx-3 my-3 text-xl">
                <thead>
                    <tr class="text-center ">
                        <th>Jenis</th>
                        <th>Harga</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="gap-3">
                    <tr class="text-center border-b border-white mb-4"> <!-- Add mb-4 class here -->
                        <td class="py-2">1 bulan</td>
                        <td>Rp54.900</td>
                        <td><a href="{% url 'feat_1:pay_subscription' %}?package=1 bulan"><button class="bg-green-500 hover:bg-green-600 text-white text-xs font-semibold px-2 py-2 rounded-full">
                            Subsribe
                        </button></a></td>
                    </tr>
                    <tr class="text-center border-b border-white mb-4">
                        <td class="py-2">3 bulan</td>
                        <td>Rp54.900</td>
                        <td><a href="{% url 'feat_1:pay_subscription' %}?package=3 bulan"><button class="bg-green-500 hover:bg-green-600 text-white text-xs font-semibold px-2 py-2 rounded-full">
                            Subscribe
                        </button></a></td>
                    </tr>
                    <tr class="text-center border-b border-white mb-4">
                        <td class="py-2">6 bulan</td>
                        <td>Rp54.900</td>
                        <td><a href="{% url 'feat_1:pay_subscription' %}?package=6 bulan"><button class="bg-green-500 hover:bg-green-600 text-white text-xs font-semibold px-2 py-2 rounded-full">
                            Subscribe
                        </button></a></td>
                    </tr>
                    <tr class="text-center border-b border-white mb-4">
                        <td class="py-2">1 tahun</td>
                        <td>Rp54.900</td>
                        <td><a href="{% url 'feat_1:pay_subscription' %}?package=12a"><button class="bg-green-500 hover:bg-green-600 text-white text-xs font-semibold px-2 py-2 rounded-full">
                            Subscribe
                        </button></a></td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
