{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock meta %}

{% block content %}
    <form  method="GET" class="flex items-center">
        <input type="text" name="query" placeholder="Search..." class="rounded-l-md px-4 py-2 border-t border-b border-l text-gray-800 border-gray-200 bg-white focus:outline-none">
        <button type="submit" class="px-4 py-2 border border-gray-300 bg-gray-200 text-gray-700 rounded-r-md hover:bg-gray-300 focus:outline-none">Search</button>
    </form>

    <div class="flex flex-col gap-2 h-screen mx-3 my-2">
        <h1 class="text-xl font-bold">Hasil pencarian untuk : love</h1> 
        {% comment %} {% if user.daftar_playlist %} {% endcomment %}
        <h2 class="p-2 text-center">Maaf, pencarian untuk "love" tidak ditemukan.</h2>
        {% comment %} {% else %} {% endcomment %}
        {% comment %} <div class="flex flex-col gap-3 py-2">
            <div class="flex flex-row justify-between items-center px-6 py-3 border-b border-gray-200 bg-[#d1d9e0] rounded-lg">
                <div class="flex items-center gap-6 mr-6">
                    <h1 class="flex items-center justify-center font-bold text-black text-sm w-16 aspect-square border rounded-full bg-green-500">SONG</h1>
                    <img src={% static 'playlist_image.jpg' %} alt="Playlist" class="w-10 h-10 rounded-full">
                </div>
                <div class="flex flex-col flex-grow">
                    <h3 class="text-xl font-bold text-black">Love is in the air</h3>
                    <p class="text-sm text-gray-400">Artist1</p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <p class="text-xl text-center bg-[#303030] font-bold border rounded-full w-8 aspect-square">i</p>
                </div>
            </div>
            
            <div class="flex flex-row justify-between items-center px-6 py-3 border-b border-gray-200 bg-[#d1d9e0] rounded-lg">
                <div class="flex items-center gap-6 mr-6">
                    <h1 class="flex items-center justify-center font-bold text-black text-sm w-16 aspect-square border rounded-full bg-green-500">SONG</h1>
                    <img src={% static 'playlist_image.jpg' %} alt="Playlist" class="w-10 h-10 rounded-full">
                </div>
                <div class="flex flex-col flex-grow">
                    <h3 class="text-xl font-bold text-black">What is love</h3>
                    <p class="text-sm text-gray-400">Artist2</p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <p class="text-xl text-center bg-[#303030] font-bold border rounded-full w-8 aspect-square">i</p>
                </div>
            </div>
            
            <div class="flex flex-row justify-between items-center px-6 py-3 border-b border-gray-200 bg-[#d1d9e0] rounded-lg">
                <div class="flex items-center gap-6 mr-6">
                    <h1 class="flex items-center justify-center font-bold text-black text-sm w-16 aspect-square border rounded-full bg-green-500">PODC</h1>
                    <img src={% static 'playlist_image.jpg' %} alt="Playlist" class="w-10 h-10 rounded-full">
                </div>
                <div class="flex flex-col flex-grow">
                    <h3 class="text-xl font-bold text-black">Love is Blind Pod</h3>
                    <p class="text-sm text-gray-400">Podcaster1</p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <p class="text-xl text-center bg-[#303030] font-bold border rounded-full w-8 aspect-square">i</p>
                </div>
            </div>

            <div class="flex flex-row justify-between items-center px-6 py-3 border-b border-gray-200 bg-[#d1d9e0] rounded-lg">
                <div class="flex items-center gap-6 mr-6">
                    <h1 class="flex items-center justify-center font-bold text-black text-sm w-16 aspect-square border rounded-full bg-green-500">PLAYLIST</h1>
                    <img src={% static 'playlist_image.jpg' %} alt="Playlist" class="w-10 h-10 rounded-full">
                </div>
                <div class="flex flex-col flex-grow">
                    <h3 class="text-xl font-bold text-black">90s Love Songs</h3>
                    <p class="text-sm text-gray-400">User1</p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <p class="text-xl text-center bg-[#303030] font-bold border rounded-full w-8 aspect-square">i</p>
                </div>
            </div>
            
        </div> {% endcomment %}
        
    </div>
{% endblock content %}