{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Create Album</title>
  <style>
  .container {
      width: 80%;
      margin: 50px auto 0;
  }

  .blockButton {
      display: block;
      width: 100%; 
  }
  </style>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
{% endblock meta %}
{% block content %}
<body>
<div class="container">
    <p class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800" style="text-align: center;">
        CREATE ALBUM
    </p>
    <form id="myForm" class="max-w-sm mx-auto">
      {% csrf_token %}
        <label for="album-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Judul</label>
        <div class="flex">
        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            <img src="/static/album.png" alt="Album Icon" class="w-4 h-4 text-gray-500 dark:text-gray-400">
        </span>
        <input type="text" id="album-name" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
        </div>
        <br>
        <label for="label-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Label</label>
        <div class="flex">
        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            <img src="/static/label.png" alt="Label Icon" class="w-4 h-4 text-gray-500 dark:text-gray-400">
        </span>
        <select id="label-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
          {% for label in label_name %}
          <option value="{{ label.1 }}">{{ label.0 }}</option>          
          {% endfor %}
        </select>        
        </div>
        <br>
    <p class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800" style="text-align: center;">
      LAGU PERTAMA
    </p>
      <label for="song-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Judul Lagu</label>
      <div class="flex">
      <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
          <img src="/static/label.png" alt="Song Icon" class="w-4 h-4 text-gray-500 dark:text-gray-400">
      </span>
      <input type="text" id="song-name" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
      </div>
      <br>
      <label for="artist-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Artist</label>
      <div class="flex">
      <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
          <img src="/static/icon_artist.png" alt="Artist Icon" class="w-4 h-4 text-gray-500 dark:text-gray-400">
      </span>
      {% if user.roles in "Artist" %}
      <input type="hidden" id="artist-name" name="artist_id" value="{{ user_id }}">
      <input type="text" id="artist-show" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="{{ user.nama }}" disabled>
      {% else %}
      <select id="artist-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        {% for artist in artists_name %}
        <option value="{{artist.1}}">{{artist.0}}</option>
        {% endfor %}
      </select>
      {% endif %}
      </div>
      <br>
      <label for="songwriter-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Songwriter</label>
        <div class="flex">
            <button id="dropdownSearchButton" data-dropdown-toggle="dropdownsong" class="blockButton relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800" type="button">Dropdown Multiselect Songwriter 
                <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <div id="dropdownsong" class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700">
                <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">
                  {% for songwriter in songwriters_name %}
                    {% if songwriter.2 == user.email %}
                      <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                          <input id="{{songwriter.1}}" type="checkbox" value="{{songwriter.1}}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" checked disabled>
                          <label for="{{songwriter.1}}" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{songwriter.0}}</label>
                        </div>
                      </li>
                    {% else %}
                      <li>
                        <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                          <input id="{{songwriter.1}}" type="checkbox" value="{{songwriter.1}}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                          <label for="{{songwriter.1}}" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{songwriter.0}}</label>
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
            </div>
        </div>
      <br>
      <label for="genre-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genre</label>
      <div class="flex">
          <button id="dropdownSearchButton" data-dropdown-toggle="dropdownSearch" class="blockButton relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800" type="button">Dropdown Multiselect Genre 
              <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
          </button>
          <div id="dropdownSearch" class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700">
              <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownSearchButton">
                {% for genre in genres %}
                  <li>
                    <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                      <input id="checkbox-item-{{ forloop.counter }}" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                      <label for="checkbox-item-{{ forloop.counter }}" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">{{genre.0}}</label>
                    </div>
                  </li>
                {% endfor %}
              </ul>
          </div>
      </div>
      <br>
      <label for="durasi" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Durasi</label>
        <div class="flex">
        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            <img src="/static/icon_time.png" alt="Album Icon" class="w-4 h-4 text-gray-500 dark:text-gray-400">
        </span>
        <input type="text" id="durasi" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required>
        </div>
        <br>
      <button type="submit" class="blockButton relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          Submit
          </span>
      </button>
  </form>
</div>
</body>
<script>
function addProduct() {
    var albumName = document.getElementById('album-name').value;
    var labelName = document.getElementById('label-name').value;
    var songName = document.getElementById('song-name').value;
    var durasi = document.getElementById('durasi').value;
    var artistElement = document.getElementById('artist-name');
    var artistName;

    if (artistElement.tagName === 'INPUT') {
        artistName = artistElement.value;
    } else if (artistElement.tagName === 'SELECT') {
        artistName = artistElement.options[artistElement.selectedIndex].value;
    }

    var checkedSongwriters = [];
    var checkboxes = document.querySelectorAll('#dropdownsong input[type="checkbox"]:checked');
    checkboxes.forEach(function(checkbox) {
        checkedSongwriters.push(checkbox.value);
    });

    var checkedGenres = [];
    var genreCheckboxes = document.querySelectorAll('#dropdownSearch input[type="checkbox"]:checked');
    genreCheckboxes.forEach(function(checkbox) {
        var label = document.querySelector('label[for="' + checkbox.id + '"]');
        if (label) {
            checkedGenres.push(label.textContent);
        }
    });

    // Create data object
    var data = {
        albumName: albumName,
        labelName: labelName,
        artistName: artistName,
        songName: songName,
        songwriters: checkedSongwriters,
        genres: checkedGenres,
        durasi: durasi
    };

    // Send data via fetch
    fetch("{% url 'kelola-album-artist:form_album' %}", {
        method: "POST",
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
        },
        body: JSON.stringify(data)
    }).then(response => {
        if (response.status === 201) {
            console.log('Success:', response);
            document.getElementById("myForm").reset();
        } else {
            console.error('Error:', response);
        }
    }).catch((error) => {
        console.error('Error:', error);
    });

    return false;
}
function validateCheckboxes() {
      return new Promise((resolve, reject) => {
        var checkedSongwriters = [];
        var checkboxes = document.querySelectorAll('#dropdownsong input[type="checkbox"]:checked');
        checkboxes.forEach(function(checkbox) {
            checkedSongwriters.push(checkbox.value);
        });
        console.log(checkedSongwriters)
        let isCheckedSongwriters = false;
        let isCheckedGenres = false;
        if(checkedSongwriters.length > 0){
          isCheckedSongwriters = true;
        }
        if (!isCheckedSongwriters) {
          alert('Please select at least one songwriter.');
          return reject('No songwriter selected');
        }

        var checkedGenres = [];
        var genreCheckboxes = document.querySelectorAll('#dropdownSearch input[type="checkbox"]:checked');
        genreCheckboxes.forEach(function(checkbox) {
            var label = document.querySelector('label[for="' + checkbox.id + '"]');
            if (label) {
                checkedGenres.push(label.textContent);
            }
        });

        if(checkedGenres.length > 0){
          isCheckedGenres = true;
        }
        if (!isCheckedGenres) {
          alert('Please select at least one genre.');
          return reject('No genre selected');
        }

        resolve('Validation successful');
      });
    }
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault();
        validateCheckboxes()
        .then((message) => {
          console.log(message);
          // Form submission logic here, e.g., AJAX request or form.submit()
          // For demonstration purposes, we'll log a message and submit the form
          addProduct();
          alert('Form submitted successfully!');
          this.submit();
        })
        .catch((error) => {
          console.log(error);
          // Page refresh logic on validation failure
          window.location.reload();
        });
    });
});
</script>
{% endblock content %}
</html>