<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <style>
    .container {
        width: 80%;
        margin: 50px auto 0;
    }

    .blockButton {
        display: block;
        width: 100%; 
    }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>

<body>
<div class="container">
    <p class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800" style="text-align: center;">
        CREATE ALBUM
    </p>
    <form id="myForm" class="max-w-sm mx-auto">
        <label for="album-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Judul</label>
        <div class="flex">
        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            <img src="/static/album.png" alt="Album Icon" class="w-4 h-4 text-gray-500 dark:text-gray-400">
        </span>
        <input type="text" id="album-name" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">
        </div>
        <br>
        <label for="label-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Label</label>
        <div class="flex">
        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            <img src="/static/label.png" alt="Label Icon" class="w-4 h-4 text-gray-500 dark:text-gray-400">
        </span>
        <select id="label-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option>Label1</option>
            <option>Label2</option>
            <option>Label3</option>
            <option>Label4</option>
          </select>        
        </div>
        <br>
        <button type="submit" class="blockButton relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Submit
            </span>
        </button>
    </form>
</div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('myForm').addEventListener('submit', function(event) {
            event.preventDefault();

            var albumName = document.getElementById('album-name').value;
            var labelName = document.getElementById('label-name').value;

            console.log('Album Name:', albumName);
            console.log('Label Name:', labelName);
        });
    });
</script>
</html>