{% extends 'base.html' %}

{% block meta %}
    <title>Your Page Title</title>
    <style>
    .container {
        width: 80%;
        margin: 50px auto 0;
    }

    .blockButton {
        display: block;
        width: 100%; 
    }

    /* Menambahkan sedikit padding untuk elemen tabel */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
        padding: 8px;
    }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
{% endblock meta %}
{% block content %}
<body>

    <div class="container">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
             <!-- Detail Playlist -->
             {% if detail_song %}
            <div id="playlist-detail" class="p-5 mb-5 bg-white shadow-md sm:rounded-lg">
                <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Detail Songs</h2>
                <p class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"><strong>Judul: {{detail_song.0.0}}</strong> <span id="judul"></span></p> 
                <p class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"><strong>Genre: {{detail_song.0.1}}</strong> <span id="genre"></span></p>
                <p class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"><strong>Artist: {{detail_song.0.2}}</strong> <span id="artist"></span></p>
                <p class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"><strong>Songwriter: {{detail_song.0.3}}</strong> <span id="songwriter"></span></p>
                <p class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"><strong>Durasi: {{detail_song.0.4}}</strong> <span id="durasi"></span></p>
                <p class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"><strong>Tanggal Rilis: {{detail_song.0.5}}</strong> <span id="tanggalrilis"></span></p>
                <p class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"><strong>Tahun: {{detail_song.0.6}}</strong> <span id="tahun"></span></p>
                <p class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"><strong>Total Play: {{detail_song.0.7}}</strong> <span id="totalplay"></span></p>
                <p class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"><strong>Total Downloads: {{detail_song.0.8}}</strong> <span id="totaldownloads"></span></p>
                <p class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"><strong>Album: {{detail_song.0.9}}</strong> <span id="albums"></span></p>
            </div>
            {% else %}
            <p>Detail playlist tidak ditemukan.</p>
            {% endif %}
            <!-- <button onclick="redirectToAdd('{{ detail_playlist.0.6 }}')" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                <span class="relative px-5 py-2.5 transition-all ease-in duration-75 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                Tambah Lagu
                </span>
            </button> -->
        </div><br>
    </div>

</body>

<script>
</script>
{% endblock content %}
</html>
