{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Your Page Title</title>
    <style>
    .container {
        width: 80%;
        margin: 50px auto 0;
    }

    .blockButton {
        display: block;
        width: 100%; 
    }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
{% endblock meta %}
{% block content %}

<body>

    <div class="container">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800" style="text-align: center;">
                    LIST ROYALTI
                </caption>
                <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800" style="text-align: center;">
                    (HANYA MENUNJUKKAN LAGU YANG MEMILIKI NILAI ROYALTI)
                </caption>
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Judul Lagu
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Judul Album
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Total Play
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Total Download
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Total Royalti Didapat
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in royalti_query %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ item.0 }}
                        </th>
                        <td class="px-6 py-4">
                            {{ item.1 }}
                        </td>
                        <td class="px-6 py-4">
                            {{ item.2 }}
                        </td>
                        <td class="px-6 py-4">
                            {{ item.3 }}
                        </td>
                        <td class="px-6 py-4">
                            {{ item.4 }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div><br>
        <button onclick="goBack()" class="blockButton relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Kembali
            </span>
        </button>
        
    </div>
    

</body>

<script>
    function goBack() {
      window.history.back();
    }
</script>
{% endblock content %}
</html>