{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock meta %}

{% block content %}

<div class="bg-gray-900 text-white">
    <h1 class="text-2xl font-bold my-2 text-center">Dashboard</h1>
    <div class="max-w-4xl mx-auto bg-gray-800 p-6 rounded-lg">
        <label for="name" class="block">Nama:</label>
        <p id="name" class="text-gray-300">{{ user.nama }}</p>
        <label for="email" class="block">Email:</label>
        <p id="email" class="text-gray-300">{{ user.email }}</p>

        <label for="city" class="block">Kota Asal:</label>
        <p id="city" class="text-gray-300">{{ data.kota_asal }}</p>

        <label for="gender" class="block">Gender:</label>
        {% if data.gender == 0 %}
        <p id="gender" class="text-gray-300">Perempuan</p>
        {% else %}
        <p id="gender" class="text-gray-300">Laki-laki</p>
        {% endif %}

        <label for="birthplace" class="block">Tempat Lahir:</label>
        <p id="birthplace" class="text-gray-300">{{ data.tempat_lahir }}</p>

        <label for="birthdate" class="block">Tanggal Lahir:</label>
        <p id="birthdate" class="text-gray-300">{{ data.tanggal_lahir }}</p>

        <label for="role" class="block">Role:</label>
        <p id="role" class="text-gray-300">{{ user.roles }}</p>

        {% if user.kontak %}
        <h2 class="text-lg font-bold mt-4 mb-2">Album List</h2>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-600">
                    <th class="bg-gray-700 text-white px-4 py-2">Judul</th>
                    <th class="bg-gray-700 text-white px-4 py-2">Durasi</th>
                    <th class="bg-gray-700 text-white px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-600">
                    <td class="text-center">Data 1</td>
                    <td class="text-center">Data 2</td>
                    <td class="text-center">Data 3</td>
                </tr>
                <tr class="bg-gray-600">
                    <td class="text-center">Data 5</td>
                    <td class="text-center">Data 6</td>
                    <td class="text-center">Data 7</td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        {% if 'Artist' or 'Songwriter' in user.roles %}
        <h2 class="text-lg font-bold mt-4 mb-2">Song List</h2>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-600">
                    <th class="bg-gray-700 text-white px-4 py-2">Judul</th>
                    <th class="bg-gray-700 text-white px-4 py-2">Durasi</th>
                    <th class="bg-gray-700 text-white px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-600">
                    <td class="text-center">Data 1</td>
                    <td class="text-center">Data 2</td>
                    <td class="text-center">Data 3</td>
                </tr>
                <tr class="bg-gray-600">
                    <td class="text-center">Data 5</td>
                    <td class="text-center">Data 6</td>
                    <td class="text-center">Data 7</td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        {% if 'Podcaster' in user.roles %}
        <h2 class="text-lg font-bold mt-4 mb-2">Podcast List</h2>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-600">
                    <th class="bg-gray-700 text-white px-4 py-2">Judul</th>
                    <th class="bg-gray-700 text-white px-4 py-2">Jumlah Episode</th>
                    <th class="bg-gray-700 text-white px-4 py-2">Durasi</th>
                    <th class="bg-gray-700 text-white px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-600">
                    <td class="text-center">Data 1</td>
                    <td class="text-center">Data 2</td>
                    <td class="text-center">Data 3</td>
                    <td class="text-center">Data 4</td>
                </tr>
                <tr class="bg-gray-600">
                    <td class="text-center">Data 5</td>
                    <td class="text-center">Data 6</td>
                    <td class="text-center">Data 7</td>
                    <td class="text-center">Data 8</td>
                </tr>
            </tbody>
        </table>
        {% endif %}

        {% if 'Pengguna biasa' in user.roles %}
        <h2>Playlist List</h2>
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-600">
                    <th class="bg-gray-700 text-white px-4 py-2">Playlist</th>
                    <th class="bg-gray-700 text-white px-4 py-2">Durasi</th>
                    <th class="bg-gray-700 text-white px-4 py-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-gray-600">
                    <td class="text-center">Data 1</td>
                    <td class="text-center">Data 2</td>
                    <td class="text-center">Data 3</td>
                </tr>
                <tr class="bg-gray-600">
                    <td class="text-center">Data 5</td>
                    <td class="text-center">Data 6</td>
                    <td class="text-center">Data 7</td>
                </tr>
            </tbody>
        </table>
        {% endif %}

    </div>
</div>


{% endblock content %}
